Packs/CortexAttackSurfaceManagement/Playbooks/Cortex_ASM_-_Azure_Enrichment.yml
id: Cortex ASM - Azure Enrichment
version: -1
name: Cortex ASM - Azure Enrichment
description: Given the IP address, this playbook enriches Azure information relevant to ASM alerts.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 5c210e9d-166a-4c32-8093-c26a10d91d75
    type: start
    task:
      id: 5c210e9d-166a-4c32-8093-c26a10d91d75
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "27"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 70df2ffd-835f-4e72-8cbf-6d2286741012
    type: title
    task:
      id: 70df2ffd-835f-4e72-8cbf-6d2286741012
      version: -1
      name: Set Fields
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "3"
      - "4"
      - "7"
      - "25"
      - "50"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -30
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: c5760e2f-2674-4e77-832c-6b43e21fdbd5
    type: condition
    task:
      id: c5760e2f-2674-4e77-832c-6b43e21fdbd5
      version: -1
      name: Is there IAM information?
      description: Determines if there is IAM information to set in the service owner field.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "42"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: MSGraphUser
            iscontext: true
          right:
            value: {}
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Account
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -440,
          "y": 160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: a262695d-8134-430c-8ee8-a62036b013e2
    type: condition
    task:
      id: a262695d-8134-430c-8ee8-a62036b013e2
      version: -1
      name: Is there Azure compute information?
      description: Determines if there is Azure Compute information to set in the system ID fields.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "42"
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Azure
                accessor: Compute
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 061dae64-7d94-4ef6-86d1-69453c4612a9
    type: condition
    task:
      id: 061dae64-7d94-4ef6-86d1-69453c4612a9
      version: -1
      name: Is there Azure network information?
      description: Determines if there is Azure network information to set in the ASM Private IP field.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Azure
                accessor: Network
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 669463d5-da93-4ea0-82fd-bc1b8c671d51
    type: regular
    task:
      id: 669463d5-da93-4ea0-82fd-bc1b8c671d51
      version: -1
      name: Set service owner grid field
      description: Sets the potential Azure service owner to the grid field for the ASM service owner object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      gridfield:
        simple: asmserviceowner
      keys:
        simple: name,email,source,timestamp
      val1:
        complex:
          root: Account
          accessor: DisplayName
      val2:
        complex:
          root: Account
          filters:
          - - operator: isEmpty
              left:
                value:
                  simple: Account.Email.Address
                iscontext: true
            - operator: isNotEmpty
              left:
                value:
                  simple: Account.Email.Address
                iscontext: true
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: Email
          - operator: getField
            args:
              field:
                value:
                  simple: Address
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: n/a
      val3:
        simple: Azure
      val4:
        simple: TIMESTAMP
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -440,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 76d67695-3816-4704-866d-d8412e8d2b07
    type: title
    task:
      id: 76d67695-3816-4704-866d-d8412e8d2b07
      version: -1
      name: Service Owner
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -440,
          "y": 395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: f25a6475-9243-41e5-807d-3b8024507df6
    type: title
    task:
      id: f25a6475-9243-41e5-807d-3b8024507df6
      version: -1
      name: System IDs
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "49"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: f2590252-4027-495d-86d5-65a00af050eb
    type: regular
    task:
      id: f2590252-4027-495d-86d5-65a00af050eb
      version: -1
      name: Set system IDs grid field (NSG)
      description: Sets Azure NSG information to the grid field for the ASM system IDs object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-SG
      val2:
        complex:
          root: Azure.Network.Interfaces.NetworkSecurityGroup
          accessor: id
          transformers:
          - operator: substringFrom
            args:
              from:
                value:
                  simple: networkSecurityGroups/
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 5386fe84-a996-40d1-810f-a9817180975e
    type: regular
    task:
      id: 5386fe84-a996-40d1-810f-a9817180975e
      version: -1
      name: Set system IDs grid field (Resource Group)
      description: Sets Azure resource group information to the grid field for the ASM system IDs object. The variable name "CLOUD-RG" is chosen because multiple CSPs have a concept of a resource group including Alibaba, IBM Cloud, and Azure.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-RG
      val2:
        complex:
          root: Azure.Compute
          accessor: ResourceGroup
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 950
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: fd841360-acdd-44ae-8200-c4f323789c02
    type: regular
    task:
      id: fd841360-acdd-44ae-8200-c4f323789c02
      version: -1
      name: Set system IDs grid field (NIC)
      description: Sets Azure NIC information to the grid field for the ASM system IDs object. The variable name "ASSET-NIC" is chosen because it can used for more than just compute resources in all cloud providers.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-NIC
      val2:
        complex:
          root: Azure.Compute.NetworkInterfaces
          accessor: id
          transformers:
          - operator: substringFrom
            args:
              from:
                value:
                  simple: networkInterfaces/
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 367469a6-16f9-481e-8367-f10dd520335b
    type: regular
    task:
      id: 367469a6-16f9-481e-8367-f10dd520335b
      version: -1
      name: Set system IDs grid field (ID)
      description: Sets the Azure Compute instance ID to the grid field for the ASM system IDs object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-ID
      val2:
        complex:
          root: Azure.Compute
          accessor: ID
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: fe4f8eee-e2f1-41dc-8373-bca5f7d250b9
    type: regular
    task:
      id: fe4f8eee-e2f1-41dc-8373-bca5f7d250b9
      version: -1
      name: Set private IP grid field
      description: Sets the private IP to the grid field for the ASM private IP object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      gridfield:
        simple: asmprivateip
      keys:
        simple: ip,source
      val1:
        complex:
          root: Azure.Network.Interfaces.IPConfigurations
          accessor: PrivateIPAddress
      val2:
        simple: Azure
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: cd21f6c8-7102-43d9-890b-7f4ad2b9a960
    type: title
    task:
      id: cd21f6c8-7102-43d9-890b-7f4ad2b9a960
      version: -1
      name: Private IP
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 415
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 7e3c4578-6803-4e26-87e5-ab7f95e06df9
    type: title
    task:
      id: 7e3c4578-6803-4e26-87e5-ab7f95e06df9
      version: -1
      name: Cloud
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 62111768-5c35-41af-8476-09426cb1f78d
    type: regular
    task:
      id: 62111768-5c35-41af-8476-09426cb1f78d
      version: -1
      name: Set cloud grid field
      description: Sets Azure subscription, resource group, and location information to the grid field for the ASM cloud object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      gridfield:
        simple: asmcloud
      keys:
        simple: provider,organization,project,region,other
      val1:
        simple: Azure
      val2:
        complex:
          root: Azure.Compute.NetworkInterfaces
          accessor: id
          transformers:
          - operator: ExtractInbetween
            args:
              from:
                value:
                  simple: subscriptions/
              to:
                value:
                  simple: /resourceGroups
      val3:
        complex:
          root: Azure.Compute
          accessor: ResourceGroup
      val4:
        complex:
          root: Azure.Compute
          accessor: Location
      val5:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: d47d4940-eb2c-47c7-85f8-2387d038f1e4
    type: regular
    task:
      id: d47d4940-eb2c-47c7-85f8-2387d038f1e4
      version: -1
      name: Set system IDs grid field (Compute Name)
      description: Sets the Azure Compute instance name to the grid field for the ASM system IDs object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-NAME
      val2:
        complex:
          root: Azure.Compute
          accessor: Name
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 4378536b-d6d7-4c9e-8c93-db5440c182b5
    type: condition
    task:
      id: 4378536b-d6d7-4c9e-8c93-db5440c182b5
      version: -1
      name: Is there Azure compute information?
      description: Determines if there is Azure Compute information to set in the Cloud ASM fields.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "43"
      "yes":
      - "19"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Azure
                accessor: Compute
            iscontext: true
          right:
            value: {}
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: Azure
                accessor: Network
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 4ba46286-54ba-42e0-86e6-2071138a6533
    type: playbook
    task:
      id: 4ba46286-54ba-42e0-86e6-2071138a6533
      version: -1
      name: Azure - Enrichment_EXPANDR-7685
      playbookName: Azure - Enrichment_EXPANDR-7685
      type: playbook
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      AzureIP:
        complex:
          root: inputs.RemoteIP
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 2a2ba0ae-9af0-4789-8863-8537a293c9f5
    type: regular
    task:
      id: 2a2ba0ae-9af0-4789-8863-8537a293c9f5
      version: -1
      name: Set true flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 4da1fbe6-327c-4582-8417-03a770117c54
    type: regular
    task:
      id: 4da1fbe6-327c-4582-8417-03a770117c54
      version: -1
      name: Set true flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: beee3689-b7c7-4668-8dc1-eaeda88985bb
    type: title
    task:
      id: beee3689-b7c7-4668-8dc1-eaeda88985bb
      version: -1
      name: System IDs - End
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 1eecc895-e422-4f60-8157-100a8adb6d75
    type: title
    task:
      id: 1eecc895-e422-4f60-8157-100a8adb6d75
      version: -1
      name: Private IP - End
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 1020
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: a640e70e-2888-47dd-841a-61399cc2f3cf
    type: title
    task:
      id: a640e70e-2888-47dd-841a-61399cc2f3cf
      version: -1
      name: Cloud - End
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 1020
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: dbd40ede-e4ac-472f-84b2-5fa3f245e7c3
    type: regular
    task:
      id: dbd40ede-e4ac-472f-84b2-5fa3f245e7c3
      version: -1
      name: Set true flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 1605
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: cd3f20a7-a149-45bf-868c-8c32d5a19a01
    type: regular
    task:
      id: cd3f20a7-a149-45bf-868c-8c32d5a19a01
      version: -1
      name: Set true flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -440,
          "y": 705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 4023977c-93a8-4890-8e1c-65c52da691be
    type: title
    task:
      id: 4023977c-93a8-4890-8e1c-65c52da691be
      version: -1
      name: Service Owner - End
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -440,
          "y": 1425
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 9f2d1b14-f071-405f-8a23-85cbe6745404
    type: regular
    task:
      id: 9f2d1b14-f071-405f-8a23-85cbe6745404
      version: -1
      name: Set false flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "32"
      - "40"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -170,
          "y": 870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 311ca827-e170-4000-8897-687a4de8b534
    type: regular
    task:
      id: 311ca827-e170-4000-8897-687a4de8b534
      version: -1
      name: Set false flag for completed enrichment
      description: Set a value in context under the key you entered.
      type: regular
      iscommand: false
      brand: ""
      script: Set
    nexttasks:
      '#none#':
      - "34"
      - "33"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: asm_enrichment_flag_azure
      value:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1510,
          "y": 840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: dd2704c9-30a3-4155-88d0-9f66644eefae
    type: title
    task:
      id: dd2704c9-30a3-4155-88d0-9f66644eefae
      version: -1
      name: Closing Steps
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "47"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1197.5,
          "y": 1990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: d5bf34d2-bde8-4eab-8306-8584322bf57e
    type: title
    task:
      id: d5bf34d2-bde8-4eab-8306-8584322bf57e
      version: -1
      name: Complete
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1207.5,
          "y": 2580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: b1158ca0-373d-4cce-82c9-9d0cd0033ec2
    type: regular
    task:
      id: b1158ca0-373d-4cce-82c9-9d0cd0033ec2
      version: -1
      name: Set ASM enrichment status to true
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: Azure
      val2:
        simple: "true"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1442.5,
          "y": 2360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 77ca0d81-99d2-495e-81bc-e6d05d1ff71f
    type: condition
    task:
      id: 77ca0d81-99d2-495e-81bc-e6d05d1ff71f
      version: -1
      name: Was enrichment performed?
      description: Check if enrichment was performed by checking for a value of true in the relevant flag variable.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "46"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              complex:
                root: asm_enrichment_flag_azure
            iscontext: true
          right:
            value:
              simple: "true"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1197.5,
          "y": 2140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 620f90ba-aff1-45c2-88fa-9cf922b7de2c
    type: regular
    task:
      id: 620f90ba-aff1-45c2-88fa-9cf922b7de2c
      version: -1
      name: Set ASM enrichment status to false
      description: |-
        Automation used to more easily populate a grid field. This is necessary when you want to assign certain values as static or if you have context paths that you will assign to different values as well.  Instead of a value you can enter `TIMESTAMP` to get the current timestamp in ISO format. For example:
        `!GridFieldSetup keys=ip,src,timestamp val1=${AWS.EC2.Instances.NetworkInterfaces.PrivateIpAddress} val2="AWS" val3="TIMESTAMP" gridfiled="gridfield"`
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      gridfield:
        simple: asmenrichmentstatus
      keys:
        simple: source,record_exists,timestamp
      val1:
        simple: Azure
      val2:
        simple: "false"
      val3:
        simple: TIMESTAMP
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 990,
          "y": 2360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: 1b7e3481-c274-4e34-8ef9-d28fdfc902dc
    type: regular
    task:
      id: 1b7e3481-c274-4e34-8ef9-d28fdfc902dc
      version: -1
      name: Set system IDs grid field (type)
      description: Sets the type of cloud asset to the grid field for the ASM system IDs object.
      type: regular
      iscommand: false
      brand: Builtin
      script: GridFieldSetup
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      gridfield:
        simple: asmsystemids
      keys:
        simple: type,id,link
      val1:
        simple: ASSET-TYPE
      val2:
        simple: Azure Compute
      val3:
        simple: n/a
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 240,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 3417e1e4-02ae-4cde-84d5-d75ab96f6b0e
    type: condition
    task:
      id: 3417e1e4-02ae-4cde-84d5-d75ab96f6b0e
      version: -1
      name: Is there Azure hierarchy information?
      description: Determines if there is Azure Compute information to set in the Cloud ASM fields.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "Yes":
      - "51"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: azureAssetHierarchy
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: 622b419d-1dbf-45bd-8047-bc85ee6e0c65
    type: title
    task:
      id: 622b419d-1dbf-45bd-8047-bc85ee6e0c65
      version: -1
      name: Hierarchy
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 395
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: a239436b-b8e9-4351-8c48-35ab24031d3e
    type: regular
    task:
      id: a239436b-b8e9-4351-8c48-35ab24031d3e
      version: -1
      name: Set hierarchy grid field
      description: commands.local.cmd.set.incident
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      asmassethierarchy:
        simple: ${azureAssetHierarchy}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 5d2ad17e-0afe-44ab-887a-8b2ab444a0a0
    type: title
    task:
      id: 5d2ad17e-0afe-44ab-887a-8b2ab444a0a0
      version: -1
      name: Hierarchy - End
      type: title
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "44"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 755
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "25_19_yes": 0.6,
      "3_42_#default#": 0.32,
      "3_9_yes": 0.5,
      "4_11_yes": 0.43,
      "4_42_#default#": 0.31,
      "50_51_Yes": 0.43,
      "7_18_yes": 0.5
    },
    "paper": {
      "dimensions": {
        "height": 2995,
        "width": 2660,
        "x": -440,
        "y": -350
      }
    }
  }
inputs:
- key: RemoteIP
  value:
    complex:
      root: inputs
      accessor: remoteip
  required: false
  description: IP address of the service.
  playbookInputQuery:
outputs: []
fromversion: 6.5.0
tests:
- No tests (auto formatted)
contentitemexportablefields:
  contentitemfields: {}
